@import "./variables";
                        
@mixin flex-column-space-between {
  display: flex;                
  flex-direction: column;          
  justify-content: space-between;  
  align-items: center;             
}                                  
                                   
@mixin flex-row-wrap-space-between {
  display: flex;                  
  flex-direction: row;             
  flex-wrap: wrap;              
  justify-content: space-between;  
  align-items: center;             
}                         
                                
@mixin flex-center {  
  display: flex; 
  justify-content: center;
  align-items: center;          
}                                  