// colors
$color-primary: #777777;       
$color-primary-light: #ffffff; 
$color-primary-dark: #000000;  
                               
$color-secondary: #777777;     
$color-secondary-light: #ffffff;
$color-secondary-dark: #000000;
                              
$color-tertiary: #777777;     
$color-tertiary-light: #ffffff;
$color-tertiary-dark: #000000; 
                       
$color-white: #ffffff;
$color-black: #000000; 