@import "./abstracts/all-abstracts";
@import "./base/all-base";
@import "./layout/all-layout";
@import "./components/_all-components";
@import "./pages/all-pages";    
@import "./themes/all-themes";  
                                       
                
footer.siteFooter {    
  background-color: #555;
  color: #bbb;         
  line-height: 1.5; 
  flex: 0 0;        
}                
                       
.heroBox {   
  padding: 20px;                 
}                                
                                                                              
.hero {                          
  position: relative;                                                                   
  height: 65vh;                                                              
  background-image: linear-gradient(                                 
    /* to right bottom,                                       */     
    rgba(170, 207, 241, 0.8),                                   
    rgba(38, 44, 136, 0.8)),                              
    url(./images/hero.jpg);                               
  background-size: cover;                                
  background-position: center;                          
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 50% 100%, 25% 90%, 0 100%);
}                                     
                                             
.heroTextBox {                            
  position: absolute;                 
  top: 45%;                           
  left: 50%;                          
  transform: translateX(-50%) translateY(-50%);
}                                   
                               
.heroText {                  
  color: $color-white;           
  display: block;           
  font-size: 2.0rem;           
}                           
                            
.heroText--title {     
  font-size: 3.2rem;    
  text-transform: uppercase;
  text-align: center; 
  font-weight: 700;   
  letter-spacing: 2.5px;
}                     
                      