@import "./abstracts/all-abstracts";
@import "./base/all-base";
@import "./layout/all-layout";
@import "./components/_all-components";
@import "./pages/all-pages";    
@import "./themes/all-themes";  
                                       
                
footer.siteFooter {    
  background-color: #555;
  color: #bbb;         
  line-height: 1.5; 
  flex: 0 0;       
}                
                 
.imageBox {      
  display: flex; 
  justify-content: center;
  align-items: center;                
}                         
               
.imageBox img {      
  border-style: none;
  height: 55px;    
  width: auto;          
}                            
                            
.inTouch  {   
  order: 1;       
                  
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}                    
                    
button.inTouch  {
  background: none;
  outline: none;     
  cursor: pointer;           
}                                                                           
                       
.heroBox {                                     
  padding: 20px;                 
}                                
                                                                              
.hero {                          
  position: relative;                                                                   
  height: 65vh;                                                              
  background-image: linear-gradient(                                 
    /* to right bottom,                                       */     
    rgba(170, 207, 241, 0.8),                                   
    rgba(38, 44, 136, 0.8)),                              
    url(./images/hero.jpg);                               
  background-size: cover;                                
  background-position: center;                          
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 50% 100%, 25% 90%, 0 100%);
}                                     
                                             
.heroTextBox {                            
  position: absolute;                 
  top: 45%;                           
  left: 50%;                          
  transform: translateX(-50%) translateY(-50%);
}                                   
                               
.heroText {                  
  color: #ffffff;           
  display: block;       
  font-size: 20px       
}                     
                      
.heroText--title {    
  font-size: 28px;    
  text-transform: uppercase;
  text-align: center; 
  font-weight: 700;  
  letter-spacing: 2.5px;
}                    