.imageBox {                  
  display: flex; 
  justify-content: center;
  align-items: center;                
}                         
               
.imageBox img {      
  border-style: none;
  height: 5.5rem;      
  width: auto;          
}                     