.legalModule {           
  padding: 1.5rem 3.0rem;
  background-color: $color-secondary-dark;
                          
  ul.legalModule__list {             
    margin: 0px 1.25rem;    
    width: 100%;            
    display: flex;          
    flex-wrap: wrap;        
    justify-content: space-around;
                            
    list-style: none;     
    padding-left: 0;     
                         
    li {                             
      margin: 0.5rem 1.25rem;
      white-space: nowrap;
                         
      a.link {           
        text-decoration: none;
        color: $color-secondary;
      }                  
                         
      a:hover {          
        color: $color-secondary-light;
        text-decoration: none;
      }                  
    }                    
  }                 
}                   