header.siteHeader {        
  background-color: $color-primary-light;
  padding: 2.0rem;                       
}                                 
                            
header.siteHeader nav {     
  @include flex-row-wrap-space-between();      
}             

.siteHeader nav ul {      
  font-size: 1.25em;     
  display: flex;                      
  order: 1;                          
  margin: 15px 0px 0px 0px;         
  list-style: none;                
}             
  
.siteHeader nav ul li:not(:last-child) {
  padding-right: 15px;          
}                              
                               
.siteHeader nav ul li a {     
  text-decoration: none;      
  color: inherit;             
  background-color: transparent;       
} 